<div class="menu-top-right">
	Alexander Yancharuk &nbsp;
	{{#if expanded}}
		<i class="glyphicon glyphicon-triangle-top"></i>
	{{else}}
		<i class="glyphicon glyphicon-triangle-bottom"></i>
	{{/if}}
</div>