.menu {
    position: relative;
	width: 15%;
	height: 100%;
	float: left;
	background-color: #E8E8E8;
	box-shadow: 2px 0 10px rgba(0,0,0,0.5);

	.menu-item {
		padding: 10px;
		cursor: pointer;

	    &:hover {
	        background-color: #D6D6D6;
			-webkit-transition: background-color 0.5s ease;
		    -moz-transition: background-color 0.5s ease;
		    -o-transition: background-color 0.5s ease;
		    -ms-transition: background-color 0.5s ease;
		    transition: background-color 0.5s ease;
	    }

	    &.selected {
	        background-color: #D6D6D6;	    	
	    }
	}

	.menu-expand {
		cursor: pointer;	
	    text-align: right;
    	padding: 10px;
    	background-color: #FDFDFD;
	}
}

.menu-hide {
	left: -30px;
}
