<div>
  <h1>Welcome to Sport!</h1>
</div>

<hr>

<p>
	Thanks for signing up! To verify your email address and to complete your registration, <a href="{{verifyUrl}}" target="_blank">click here.</a>
</p>