<div class="header">
	{{#if session.isAuthenticated}}
		<button {{action 'logout'}}>Logout</button>
	{{else}}
		{{#link-to 'login'}}
			Login
		{{/link-to}}
	{{/if}}
</div>

<div class="menu">
	{{menu-left goTo='changeState' currentRoute=currentRoute}}
</div>

<div class="content">
	<div class="content-wrapper">
		{{outlet}}		
	</div>
</div>
