<div class="header">
	{{header-main}}
</div>

<div class={{menuClasses}}>
	{{menu-left goTo='changeState' hideMenu='hideMenu' showMenu='showMenu' currentRoute=currentRoute}}
</div>

<div class="content">
	<div class="content-wrapper">
		{{outlet}}		
	</div>
</div>
