<div class="header"></div>
<div class="menu">
	{{#each menuItems as |item|}}
		<div class="menu-item" {{action "changeState" item.link}}>{{item.text}}</div>
	{{/each}}
</div>

<div class="content">
	{{outlet}}
</div>
